# SPDX-License-Identifier: MIT
---

repos:
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint
  - repo: https://github.com/realm/SwiftLint
    rev: 0.54.0
    hooks:
      - id: swiftlint
  - repo: local
    hooks:
      - id: commit-msg-check
        name: Check commit message format
        entry: ./scripts/check-commit-msg.sh
        language: system
        pass_filenames: true
        stages: [commit-msg]
      - id: circleci-validate
        name: Validate CircleCI config
        entry: circleci config validate .circleci/config.yml
        language: system
        pass_filenames: false
        stages: [pre-commit]
