---
name: CI

'on':
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/lint
  commit-check:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check commit messages
        run: |
          # Get commits in this push
          BEFORE=${{ github.event.before }}
          SHA=${{ github.sha }}
          while IFS= read -r commit; do
            git show --format=%B -s "$commit" | \
              ./scripts/check-commit-msg.sh /dev/stdin
          done < <(git rev-list "$BEFORE".."$SHA" --no-merges)
